USE [master]
GO
/****** Object:  Database [DbYoubim]    Script Date: 24/6/2022 13:43:11 ******/
CREATE DATABASE [DbYoubim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbYoubim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLDATA\MSSQL\DATA\DbYoubim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbYoubim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLDATA\MSSQL\DATA\DbYoubim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbYoubim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbYoubim]
GO
/****** Object:  User [UYouBim123]    Script Date: 24/6/2022 13:43:11 ******/
CREATE USER [UYouBim123] FOR LOGIN [UYouBim123] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [UYouBim123]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24/6/2022 13:43:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 24/6/2022 13:43:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](max) NULL,
	[FechaNac] [date] NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220622021135_PrimerMigracion', N'3.1.3')
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [FechaNac], [Activo]) VALUES (8, N'Nicolas', CAST(N'1990-02-01' AS Date), 1)
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [FechaNac], [Activo]) VALUES (12, N'Agustina', CAST(N'1992-05-11' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
USE [master]
GO
